.exitButton {
  width: 100%;
  background-color: var(--body);
  height: 3.625rem;
  border-radius: 0.25rem;

  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: var(--background);
    font-size: 1.125rem;
    font-weight: 600;
  }
}
